@model MovieRental.Models.MovieViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.movie.Name)
        @Html.TextBoxFor(m => m.movie.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.movie.ReleaseDate)
        @Html.TextBoxFor(m => m.movie.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.movie.GenreId)
        @Html.DropDownListFor(m => m.movie.GenreId, new SelectList(Model.genres, "Id", "Name"), "Select Genre Type", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.movie.NumberInStock)
        @Html.TextBoxFor(m => m.movie.NumberInStock, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.movie.Id)
    <button class="btn btn-primary" type="submit">Save</button>
}

